*{
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

.jumbotron {
    background-image: linear-gradient(to right, #918aed, #0e073c);
    color: white;
}

h4 {
    padding-left: 13px;
}